* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
}

button {
    /* border: none; */
}

.body {
    padding-right: 120px;
    padding-left: 120px;
}

.home {
    background-image: url('./Assets/images/background-one.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
}

.nav-list ul {
    list-style-type: none;
    margin-right: 35px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

.nav-list a:hover {
    color: #FF688C;
}

.nav-list li {
    display: inline-block;
}

.nav-list li:not(:first-child) {
    padding-left: 40px;
}

.landing {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.landing-text h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 143.1%;
    width: 534.24px;
    height: 126px;
}

.landing-text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 150.1%;
    margin-top: 27px;
    margin-bottom: 53.7px;
}

.landing-text button {
    width: 147.02px;
    height: 45.83px;
    background: rgba(113, 213, 255, 0.24);
    border-radius: 90px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.landing-text button:hover {
    background: none;
    border: solid 1px #fff;
}

.landing-img {
    width: 583.29px;
    height: 540.21px;
    margin-left: 10%;
}

.landing-img img {
    width: 100%;
    height: 100%;
}

.icons {
    margin-top: 100px;
}

.icons img:not(:last-child) {
    margin-right: 25px;
}

.service_section_1 h2 {
    font-weight: 900;
    font-size: 18px;
    line-height: 143.1%;
    text-align: center;
    color: #FF688C;
}

.service_section_1 h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 143.1%;
    text-align: center;
    color: #000000;
    width: 615.11px;
    margin: auto;
    margin-top: 16px;
}

.service_section_1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 143.1%;
    width: 403.87px;
    text-align: center;
    color: #7F7E7E;
    margin: auto;
    margin-top: 50px;
}

.service_section_2 {
    display: flex;
    margin-top: 131px;
}

.service_section_2_image {
    width: 465.94px;
    height: 467.15px;
}

.service_section_2_image img {
    width: 100%;
    height: 100%;
}

.service_section_2_text {
    margin-left: 60px;
    margin-top: 96px;
}

.service_section_2_text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 143.1%;
    color: #000000;
}

.service_section_2_text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 143.1%;
    color: #7F7E7E;
    width: 403.87px;
    height: 78px;
    margin-top: 64px;
    margin-left: 89px;
}

.service_section_3 {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    margin-top: 35px;
}

.service_section_3_text {
    padding-top: 70px;
}

.service_section_3_text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 143.1%;
    color: #000000;
}

.service_section_3_text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 143.1%;
    color: #7F7E7E;
    width: 403.87px;
    height: 78px;
    margin-top: 64px;
}

.service_section_4_image {
    width: 460.6px;
    height: 346.91px;
}

.service_section_4_image img {
    width: 100%;
    height: 100%;
}

.service_section_4 {
    display: flex;
    margin-top: 131px;
}

.service_section_4_image {
    width: 465.94px;
    height: 467.15px;
}

.service_section_4_image img {
    width: 100%;
    height: 100%;
}

.service_section_4_text {
    margin-left: 100px;
    margin-top: 70px;
}

.service_section_4_text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 143.1%;
    color: #000000;
}

.service_section_4_text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 143.1%;
    color: #7F7E7E;
    width: 403.87px;
    height: 78px;
    margin-top: 64px;
    margin-left: 89px;
}

section.portfolio {
    margin-top: 336px;
}

.portfolio-text h2 {
    font-weight: 900;
    font-size: 18px;
    line-height: 143.1%;
    text-align: center;
    color: #FF688C;
}

.portfolio-text h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 143.1%;
    text-align: center;
    color: #000000;
    width: 615.11px;
    margin: auto;
    margin-top: 16px;
}

.portfolio-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 143.1%;
    width: 403.87px;
    text-align: center;
    color: #7F7E7E;
    margin: auto;
    margin-top: 50px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 65px;
}

.portfolio .portfolio-btn {
    text-align: center;
    margin-top: 61px;
}

.portfolio .portfolio-btn button {
    width: 147.02px;
    height: 45.83px;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 90px;
    font-size: 16px;
    line-height: 143.1%;
    text-align: center;
    color: #FF688C;
}

section.team {
    margin-top: 217px;
}

.team-text h2 {
    font-weight: 900;
    font-size: 18px;
    line-height: 143.1%;
    text-align: center;
    color: #FF688C;
}

.team-text h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 143.1%;
    text-align: center;
    color: #000000;
    width: 615.11px;
    margin: auto;
    margin-top: 16px;
}

.team-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 143.1%;
    width: 403.87px;
    text-align: center;
    color: #7F7E7E;
    margin: auto;
    margin-top: 50px;
}

.team-pictures {
    display: flex;
    gap: 27px
}

.team .team-pictures div {
    width: 280px;
    height: 342.39px;
    filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.05));
    height: 417px;
}

.team .team-pictures img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mid-curve {
    margin-top: 30px;
    width: 100vw;
}

.mid-curve img {
    width: 100%;
}

.work-with-us-section {
    margin: 49.28px 0 183.48px;
    text-align: center;
}

.work-with-us-section p {
    width: 615.11px;
    margin: 20.88px auto 57.77px
}

.work-with-us-section h2 {
    margin: 0 auto;
}

.work-with-us-section button {
    color: #ffffff;
    background: linear-gradient(101.53deg, #127CFF -9.34%, #2FC1FE 106.23%);
    border-radius: 90px;
    padding: 11px 31px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
}

.footer-grid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 39% 17% 17% 17%;
    gap: 39px;
}

.footer-grid p {
    margin: 11px auto;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1)
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer a {
    color: rgba(121, 121, 121, 1);
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.last-footer {
    display: flex;
    justify-content: space-between;
    padding: 75.94px 0 111.97px
}

.last-footer p {
    font-size: 16px;
    width: auto;
    margin: 0;
}

.service-section>div>div:nth-child(2n) {
    padding-bottom: 100px;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .body {
        padding: 0 30px;
    }
    .team-pictures {
        flex-direction: column;
    }
    .nav-list {
        display: none;
    }
    .landing-text p {
        margin-top: 100px;
    }
    .service_section_1 h1 {
        font-size: 25px;
        width: 300px;
    }
    .service_section_1 p {
        font-size: 14px;
        margin-top: 15px;
    }
    .service_section_2 {
        flex-direction: column;
    }
    .service_section_2_text {
        margin-left: 0;
        margin-top: -100px;
    }
    .service_section_2_text p {
        margin-left: 0;
        margin-top: 15px;
        font-size: 14px;
    }
    .service_section_3 {
        flex-direction: column-reverse;
    }
    .service_section_3_text h2 {
        margin-top: -25px;
    }
    .service_section_3_text p {
        font-size: 14px;
        margin-top: 15px;
    }
    .service_section_4 {
        flex-direction: column;
        margin-top: -60px;
    }
    .service_section_4_text {
        margin: 0;
        margin-top: -25px;
    }
    .service_section_4_text p {
        margin: 0;
        margin-top: 15px;
        font-size: 14px;
    }
    section.portfolio {
        margin-top: 100px;
    }
    .portfolio-text h1 {
        font-size: 24px;
        width: 300px;
    }
    .portfolio-text p {
        font-size: 14px;
        margin-top: 15px;
    }
    .team {
        margin-bottom: 100px;
    }
    .team-pictures {
        align-items: center;
    }
    .footer-grid {
        grid-template-rows: 62px 155px 200px 37px;
        grid-template-columns: 90vw;
        gap: 0;
    }
    .footer-grid p {
        margin: 0 0 6px 0;
    }
    .title {
        font-size: 15px;
    }
    footer a {
        margin-bottom: 19px;
    }
    .last-footer {
        flex-direction: column;
        padding: 50px 0 50px;
        gap: 5px;
    }
    .last-footer p {
        font-size: 11px;
        text-align: start;
        color: #797979;
    }
    .last-footer div {
        width: 100px;
        margin: 0 auto;
        margin-left: 0;
        margin-top: 10px;
    }
}